/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-height: 100vh;
    overflow-x: hidden;
    position: relative;
}

/* FUNDO  */
body::before {
    content: "";
    position: fixed;
    inset: 0;
    background-image: url("../assets/iniciodx.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transform: scale(1.05);
    filter: blur(2px);
    z-index: -2;
}

/* OVERLAY ESCURO */
body::after {
    content: "";
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.55);
    z-index: -1;
}
/* HEADER */
header{
    width: 95%;
    height: 85px;
    padding: 0 40px;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    background: rgba(10, 10, 20, 0.45);
    backdrop-filter: blur(14px);
    border: 1px solid rgba(255,255,255,0.08);
    border-radius: 22px;
    box-shadow:
        0 0 20px rgba(140, 0, 255, 0.18),
        0 0 45px rgba(140, 0, 255, 0.08);
    transition: 0.3s ease;
}

/* LOGO */
.logo h1{
    font-size: 32px;
    font-weight: 800;
    letter-spacing: 2px;
    background: linear-gradient(
        270deg,
        #fd0098 0%,
        #006df3c4 100%
    );

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* MENU */
nav ul{
    display: flex;
    align-items: center;
    gap: 35px;
    list-style: none;
}

/* LINKS */
nav ul li a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    transition: 0.3s ease;
}

/* HOVER */
nav ul li a:hover{
    color: #0008f8;
    text-shadow:
        0 0 10px #dd00ff,
        0 0 25px #ea00ff;
}

/* BOTAO LOGIN */
.btn-login{
    padding: 12px 24px;
    border-radius: 12px;
    background: linear-gradient(
        90deg,
        #5d00ff,
        #9c0060
    );
    color: white !important;
    box-shadow:
        0 0 15px rgba(168, 85, 247, 0.35);
}

.btn-login:hover{
    transform: translateY(-2px);
    box-shadow:
        0 0 20px #0400ff,
        0 0 40px #ff00f7;
}

/* MAIN */
main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

/* CARD */
.card-home {
    width: 100%;
    height: 100vh;
    padding: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 22px;
    background: rgba(0, 0, 0, 0.35);
    backdrop-filter: blur(14px);
    border: none;
    border-radius: 0;
    box-shadow: none;
}
/* EFEITO */
.card-home::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
        45deg,
        transparent,
        rgba(171, 30, 236, 0.06),
        transparent
    );
    pointer-events: none;
}

/*SUBTITULO*/
.subtitulo{
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 4px;
    color: #d4b5ff;
}

/*TITULO */
.card-home h1{
    font-size: 78px;
    line-height: 82px;
    font-weight: 900;
    background: linear-gradient(
        270deg,
        #dc2727 0%,
        #7e8fffc4 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/*TEXTO*/
.card-home p{
    font-size: 17px;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.893);
}

/*BOTOES*/
.botoes{
    display: flex;
    gap: 16px;
    margin-top: 10px;
}

/*BUTTON */
button{
    height: 56px;
    padding: 0 30px;
    border: none;
    border-radius: 14px;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.3s ease;
}

/* BOTAO PRINCIPAL */
.btn-explorar{
    background: linear-gradient(
        90deg,
        #3e00faa8,
        #ff00bfc5
    );
    color: rgba(255, 255, 255, 0.889);
}

.btn-explorar:hover{
    transform: scale(1.05);
    box-shadow:
        0 0 20px #a855f7,
        0 0 40px #a855f7;
}

/* RESPONSIVO */
@media(max-width: 900px){
    header{
        padding: 0 20px;
    }
    nav ul{
        gap: 18px;
    }
    main{
        padding: 120px 25px 40px;
    }
    .card-home{
        width: 100%;
    }
    .card-home h1{
        font-size: 55px;
        line-height: 70px;
    }
    .botoes{
        flex-direction: column;
    }
}
.hidden{
    opacity: 0;
    transform: translateY(40px);
    transition: all 1s ease;
}
.show{
    opacity: 1;
    transform: translateY(0);
}
.particula{
    position: fixed;
    bottom: -10px;
    background: rgba(255, 255, 255, 0.44);
    border-radius: 50%;
    pointer-events: none;
    animation: subir linear forwards;
}
@keyframes subir{
    to{
        transform: translateY(-120vh);
        opacity: 0;
    }
}